In [1]:
#1. my_variable 이름의 비어있는 튜플
my_variable = tuple()

In [2]:
#2. 다음 코드를 실행 후 오류가 발생하는 원인을 설명
t = (1,2,3)
#t[0] ='a'
# 이미 생성된 튜플은 값 변경이 불가능하다.

In [3]:
#3 숫자 1이 지정된 튜플을 생성하라
test = 1,

In [4]:
#4 t가 바인딩하는 데이터 타입은 무엇인가?
t =('a','b','c')
# tuple 이다.

In [5]:
#5 변수 t가 ('A','b','c') 튜플을 가리키도록 수정하라
t = ('a','b','c')
tt = list(t)
tt[0] = 'A'
t = tuple(tt)
print(t)
#t = ('A','b','c')

('A', 'b', 'c')

In [6]:
#6 다음 튜플을 리스트로 변환하라
interest = ('삼성전자','LG전자','SK Hynix')
interest = list(('삼성전자','LG전자','SK Hynix'))

In [7]:
#7 다음 리스트를 튜플로 변경하라
interest = ['삼성전자','LG전자','SK Hynix']
interest = tuple(('삼성전자','LG전자','SK Hynix'))

In [8]:
#8 파티에 참선한 사람이 다음과 같을 때 집합을 생성하고 조건에 맞게 출력
partyA = {'Park','Kim','Lee'}
partyB = {'Park','길동','몽룡'}

In [9]:
# 1) 파티에 참석한 모든 사람은?
print(partyA.union(partyB))
# 2) 2개의 파티에 모두 참석한 사람은?
print(partyA.intersection(partyB))
# 3) 파티 A에만 참석한 사람
print(partyA.difference(partyB))
# 4) 파티 B에만 참석한 사람
print(partyB.difference(partyA))

{'몽룡', 'Kim', 'Park', '길동', 'Lee'}
{'Park'}
{'Lee', 'Kim'}
{'몽룡', '길동'}