In [ ]:
###!pip install camelot

In [ ]:
!dir

In [1]:
import camelot

In [2]:
#import sys
tables=camelot.read_pdf('foo.pdf')

In [3]:
type(tables)

camelot.core.TableList

In [4]:
print(tables[0])

<Table shape=(7, 7)>

In [5]:
tables[0].parsing_report

{'accuracy': 99.02, 'whitespace': 12.24, 'order': 1, 'page': 1}

In [6]:
tables[0].to_excel('table0.xlsx')

In [7]:
tables[0].df

,0,1,2,3,4,5,6
0,Cycle \nName,KI \n(1/km),Distance \n(mi),Percent Fuel Savings,,,
1,,,,Improved \nSpeed,Decreased \nAccel,Eliminate \nStops,Decreased \nIdle
2,2012_2,3.30,1.3,5.9%,9.5%,29.2%,17.4%
3,2145_1,0.68,11.2,2.4%,0.1%,9.5%,2.7%
4,4234_1,0.59,58.7,8.5%,1.3%,8.5%,3.3%
5,2032_2,0.17,57.8,21.7%,0.3%,2.7%,1.2%
6,4171_1,0.07,173.9,58.1%,1.6%,2.1%,0.5%

In [8]:
#import sys
tables0=camelot.read_pdf('example.pdf',pages='1,2,3')

In [12]:
num_tables = tables0
num_tables

In [13]:
tables0[0]

In [16]:
df1=tables0[0].df
df1

,0,1,2,3
0,Powertrain system,IC,Parallel,Power \nsplit
1,displacement (cc),"2,359","2,359","2,362"
2,Weight (kg),"1,530","1,680","1,670"
3,Engine power (kW),150,117,110
4,Battery output power (kW),-,34,30
5,Battey capacity (Wh),-,"1,431","1,591"
6,Transmission system,Transmission \n6 speed,Transmission \n6 speed,ECVT
7,Motor power (kW),-,35,105
8,Total system power (kW),150,150,140

In [19]:
type(df1)

pandas.core.frame.DataFrame

In [18]:
df1[0]

0            Powertrain system
1            displacement (cc)
2                  Weight (kg)
3            Engine power (kW)
4    Battery output power (kW)
5         Battey capacity (Wh)
6          Transmission system
7             Motor power (kW)
8      Total system power (kW)
Name: 0, dtype: object

In [20]:
df2=tables0[1].df
df2

                      0       1       2       3
0                Season  Summer  Autumn  Winter
1          Ambient (°C)      30      25       0
2  A/C Temperature (°C)      22       -      24
3                   A/C      on     off     off
4                Heater     off     off      on

In [23]:
tables0[2].to_excel('tb01.xlsx')

In [ ]:
|