In [ ]:
# 리스트의 기본 개념

In [1]:
intL = [1, 3, 2, 10]
floatL = [1.5, 3.2, 5.4]
nameL =['태조', '정종', '태종', '세종']
numL = [1, 3, 4, [1,2]]
samL = [1,3,.5, '여름']

In [5]:
print(intL)
print(numL)
print(samL)
print(type(intL))

[1, 3, 2, 10]
[1, 3, 4, [1, 2]]
[1, 3, 0.5, '여름']
<class 'list'>

In [7]:
for x in numL:
    print(x)

1
3
4
[1, 2]

In [8]:
for i in range(len(numL)):
    print(numL[i])

1
3
4
[1, 2]

In [9]:
a, b, c = floatL
print(a)
print(b)
print(c)

1.5
3.2
5.4

In [10]:
data = "{a1:30 } ,{a2: 50},{ a3 :20},{a4:70},{a5:40}"
split_data = data.split(',')

n = total =0

for d in split_data:
    id, score = d.split(':')    # d={a1:30}   => ['{a1' , '30}']
    score = int(score.split('}')[0])  # '30}'  => ['30'] => 30
    #score = int(item2[0])
    #score = int(item[1].split('}')[0])
    print(score)
    total += score
    n += 1

print('총점 : %d, 평균 : %f' % (total, total/n))

30
50
20
70
40
총점 : 210, 평균 : 42.000000

In [11]:
# 인덱싱(indexing) & 슬라이싱(slicing)

In [14]:
# nameL =['태조', '정종', '태종', '세종']
print(nameL[-1])
print(nameL[:])
print(nameL[1:3])
print(nameL[-1][0])

세종
['태조', '정종', '태종', '세종']
['정종', '태종']
세

In [17]:
print(nameL[:-1])
print(nameL[-1:])
print(nameL[-1])
n = len(nameL)
print(nameL[:n])

['태조', '정종', '태종']
['세종']
세종
['태조', '정종', '태종', '세종']

In [15]:
allL = []   # 빈 리스트 생성
allL = list()

allL = [intL, floatL, nameL, numL]
print(allL)
print(allL[-1][-1][0])

[[1, 3, 2, 10], [1.5, 3.2, 5.4], ['태조', '정종', '태종', '세종'], [1, 3, 4, [1, 2]]]
1

In [18]:
# 리스트의  +, * 연산
sumL = numL + samL
print(sumL)
print(numL*3)

[1, 3, 4, [1, 2], 1, 3, 0.5, '여름']
[1, 3, 4, [1, 2], 1, 3, 4, [1, 2], 1, 3, 4, [1, 2]]

In [19]:
# 리스트의 내용 변경
print(numL)
numL[3] = 10
print(numL)
numL[2:4] = []
print(numL)

[1, 3, 4, [1, 2]]
[1, 3, 4, 10]
[1, 3]