In [ ]:
## csv파일 DB 저장하기

In [2]:
import pandas as pd
import numpy as np
import pymysql as my

In [5]:
### DB 다루는 클래스
class DBHelper:
    '''
    맴버변수 : 커넥션 
    '''
    conn = None
    '''
    생성자
    '''
    def __init__(self):
        self.db_init()
    '''
    맴버 함수
    '''
    def db_init(self):
        self.conn = my.connect(
                        host='3.34.111.86',
                        user='root',
                        password='123456',
                        db='project_db',
                        charset='utf8mb4',
                        cursorclass=my.cursors.DictCursor
        )


    def db_free(self):
        if self.conn:
            self.conn.close()


    def db_insertCrawlingData_ADDRESS(self, local, latitude, longitude):
        with self.conn.cursor() as cursor:
            sql = "INSERT INTO ADDRESS (LOCAL_CODE, LATITUDE, LONGITUDE) VALUES ( %s, %s, %s )"
            cursor.execute(sql, (local, latitude, longitude)) 
        self.conn.commit()

In [3]:
store_df = pd.read_csv('DB_PLACE.csv', encoding='utf-8')
store_df.head()

        LOCAL_CODE   Latitude   Longitude
0    (지번) 창동 337-1  37.651522  127.044820
1   (지번) 도봉동 470-3  37.677884  127.035022
2  (지번) 쌍문동 100-35  37.647075  127.031735
3   (지번) 창동 700-27  37.651605  127.037173
4   (지번) 쌍문동 395-6  37.645558  127.031691

In [30]:
db = DBHelper()

C:\Users\nhm05\anaconda3\envs\multi\lib\site-packages\ipykernel_launcher.py:11: DeprecationWarning: 'db' is deprecated, use 'database'
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
for i in range(len(store_df)):
    db.db_insertCrawlingData_ADDRESS(store_df['LOCAL_CODE'][i], store_df['Latitude'][i], store_df['Longitude'][i])