In [1]:
from geopy.geocoders import Nominatim
from pprint import pprint

In [2]:
import pandas as pd
import numpy as np

In [3]:
store_df = pd.read_csv('GN_restaurant_df.csv', encoding='utf-8', index_col=0)
store_df.head()

,store_code,ItemID,address,local,category
0,STORE_GN00001,광고삼시세끼 셰프반찬,서울 강남구 강남대로120길 42 지층,(지번) 논현동 181-6,한식
1,STORE_GN00002,카페노티드 청담,서울 강남구 도산대로53길 15 1층,(지번) 신사동 654-9,디저트카페
2,STORE_GN00003,진미평양냉면,서울 강남구 학동로 305-3 정각빌딩 1층,(지번) 논현동 115-10,냉면
3,STORE_GN00004,팀호완 삼성점,서울 강남구 봉은사로86길 30 1층,(지번) 삼성동 148-15,중화요리
4,STORE_GN00005,꽁티드툴레아 도산점,서울 강남구 도산대로49길 39 1층,(지번) 신사동 646-21,테마카페

In [4]:
store_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 411 entries, 0 to 410
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   store_code  411 non-null    object
 1   ItemID      411 non-null    object
 2   address     411 non-null    object
 3   local       410 non-null    object
 4   category    411 non-null    object
dtypes: object(5)
memory usage: 19.3+ KB

In [5]:
store = store_df.dropna(axis=0)

In [6]:
store.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 410 entries, 0 to 410
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   store_code  410 non-null    object
 1   ItemID      410 non-null    object
 2   address     410 non-null    object
 3   local       410 non-null    object
 4   category    410 non-null    object
dtypes: object(5)
memory usage: 19.2+ KB

In [7]:
# service = Nominatim(user_agent = 'South Korea')
# service.geocode('대치동 896-5')
# print(location.latitude, location.longitude)

In [8]:
# for local in store['local']:
#     try:
#         i = ' '.join(local.split(' ')[1:])
#         location = service.geocode(i)
#         print(i, location.latitude, location.longitude)
#     except:
#         print(i)

In [7]:
place = pd.DataFrame()

service = Nominatim(user_agent = 'South Korea')

In [10]:
for i, local in enumerate(store['local']):
    try:
        j = ' '.join(local.split(' ')[1:])
        location = service.geocode(j)
        print(local, location.latitude, location.longitude)
        
        row = {'local' : local , 'latitude' : location.latitude, 'longitude' : location.longitude}
        row = pd.DataFrame(row, index=[i])
        place = place.append(row, ignore_index=True)
    except:
        row = {'local' : local , 'latitude' : None, 'longitude' : None}
        row = pd.DataFrame(row, index=[i])
        place = place.append(row, ignore_index=True)

(지번) 논현동 181-6 37.5123018 127.0294935
(지번) 신사동 654-9 37.52522 127.02005
(지번) 논현동 115-10 37.5123018 127.0294935
(지번) 삼성동 148-15 36.338791650000005 127.4244989914209
(지번) 신사동 646-21 37.52232055 127.02769395302175
(지번) 역삼동 617-6 37.50118425 127.03825604133019
(지번) 신사동 647-22 37.52232055 127.02769395302175
(지번) 신사동 666-25 37.52232055 127.02769395302175
(지번) 청담동 90-19 37.52575355 127.05232137771662
(지번) 역삼동 648-9 37.50118425 127.03825604133019
(지번) 청담동 89-6 37.52575355 127.05232137771662
(지번) 신사동 646-23 37.52232055 127.02769395302175
(지번) 신사동 569-31 37.52232055 127.02769395302175
(지번) 신사동 653-7 37.52232055 127.02769395302175
(지번) 신사동 643-22 37.52232055 127.02769395302175
(지번) 대치동 996-16 37.4989205 127.0657856909771
(지번) 역삼동 616-18 37.50118425 127.03825604133019
(지번) 역삼동 824-29 37.50118425 127.03825604133019
(지번) 대치동 896-33 37.4989205 127.0657856909771
(지번) 역삼동 618-18 37.50118425 127.03825604133019
(지번) 역삼동 618-18 37.50118425 127.03825604133019
(지번) 청담동 97-1 37.52575355 127.05232137771662
(지번) 청담동 129-10 37.52575355 127.05232137771662
(지번) 대치동 896-5 37.4989205 127.0657856909771
(지번) 신사동 645-26 37.52232055 127.02769395302175
(지번) 역삼동 831-23 37.50118425 127.03825604133019
(지번) 역삼동 811-4 37.50118425 127.03825604133019
(지번) 역삼동 817-36 37.50118425 127.03825604133019
(지번) 신사동 655-15 37.52232055 127.02769395302175
(지번) 청담동 83-24 37.52575355 127.05232137771662
(지번) 신사동 540-18 37.52232055 127.02769395302175
(지번) 삼성동 151-7 36.338791650000005 127.4244989914209
(지번) 대치동 892 37.4989205 127.0657856909771
(지번) 청담동 50-13 37.52575355 127.05232137771662
(지번) 삼성동 113 36.338791650000005 127.4244989914209
(지번) 역삼동 618-21 37.50118425 127.03825604133019
(지번) 역삼동 826-20 37.50118425 127.03825604133019
(지번) 역삼동 618-11 37.50118425 127.03825604133019
(지번) 신사동 523-19 37.52232055 127.02769395302175
(지번) 역삼동 797-19 37.50118425 127.03825604133019
(지번) 도곡동 423-5 37.4885367 127.04407631646578
(지번) 역삼동 640-9 37.50118425 127.03825604133019
(지번) 역삼동 618-16 37.50118425 127.03825604133019
(지번) 청담동 117-12 37.52575355 127.05232137771662
(지번) 청담동 130-13 37.52575355 127.05232137771662
(지번) 신사동 523-17 37.52232055 127.02769395302175
(지번) 역삼동 751-17 37.50118425 127.03825604133019
(지번) 신사동 514-4 37.59547 126.90718
(지번) 신사동 523-20 37.52232055 127.02769395302175
(지번) 청담동 32-6 37.52575355 127.05232137771662
(지번) 신사동 648-14 37.52232055 127.02769395302175
(지번) 신사동 666-25 37.52232055 127.02769395302175
(지번) 신사동 662-7 37.52232055 127.02769395302175
(지번) 삼성동 58-6 36.33955 127.42536
(지번) 역삼동 826-37 37.50118425 127.03825604133019
(지번) 역삼동 833-1 37.49988 127.03856
(지번) 신사동 537-2 37.52522 127.02005
(지번) 신사동 610-6 37.52522 127.02005
(지번) 역삼동 823-10 37.50118425 127.03825604133019
(지번) 역삼동 739-13 37.49988 127.03856
(지번) 논현동 107-11 37.5123018 127.0294935
(지번) 대치동 894 37.4989205 127.0657856909771
(지번) 논현동 243-5 37.5123018 127.0294935
(지번) 신사동 619-4 37.59547 126.90718
(지번) 대치동 890-44 37.4989205 127.0657856909771
(지번) 대치동 894-14 37.4989205 127.0657856909771
(지번) 삼성동 142-46 36.338791650000005 127.4244989914209
(지번) 도곡동 177-2 37.4878395 127.0438569
(지번) 역삼동 822-4 37.50118425 127.03825604133019
(지번) 신사동 521-16 37.52232055 127.02769395302175
(지번) 청담동 52-2 37.52575355 127.05232137771662
(지번) 역삼동 830-9 37.50118425 127.03825604133019
(지번) 신사동 595 37.52232055 127.02769395302175
(지번) 신사동 652-7 37.52232055 127.02769395302175
(지번) 청담동 85-2 37.52575355 127.05232137771662
(지번) 청담동 1-1 37.52612 127.04637
(지번) 논현동 261 37.5132615 127.03156254665845
(지번) 역삼동 736-1 37.49988 127.03856
(지번) 역삼동 823-30 37.50118425 127.03825604133019
(지번) 대치동 996-17 37.4989205 127.0657856909771
(지번) 신사동 521-17 37.52232055 127.02769395302175
(지번) 논현동 163-3 37.5132615 127.03156254665845
(지번) 신사동 603-1 37.52232055 127.02769395302175
(지번) 대치동 956-6 37.49882 127.06566
(지번) 역삼동 830-31 37.50118425 127.03825604133019
(지번) 역삼동 820-1 37.49988 127.03856
(지번) 신사동 645-18 37.52232055 127.02769395302175
(지번) 논현동 99-7 37.5132615 127.03156254665845
(지번) 신사동 588-9 37.52522 127.02005
(지번) 신사동 551-23 37.52232055 127.02769395302175
(지번) 역삼동 808-5 37.49988 127.03856
(지번) 신사동 655 37.52232055 127.02769395302175
(지번) 신사동 645-11 37.52232055 127.02769395302175
(지번) 신사동 623-8 37.52232055 127.02769395302175
(지번) 논현동 67-11 37.5123018 127.0294935
(지번) 역삼동 677-5 37.49988 127.03856
(지번) 역삼동 823-12 37.50118425 127.03825604133019
(지번) 도곡동 950-5 37.4885367 127.04407631646578
(지번) 역삼동 700-33 37.50118425 127.03825604133019
(지번) 역삼동 818-14 37.50118425 127.03825604133019
(지번) 신사동 561-8 37.52232055 127.02769395302175
(지번) 신사동 624-20 37.52232055 127.02769395302175
(지번) 논현동 11-1 37.5123018 127.0294935
(지번) 역삼동 828-53 37.50118425 127.03825604133019
(지번) 수서동 739-1 37.48445 127.09838
(지번) 삼성동 76-10 36.338791650000005 127.4244989914209
(지번) 삼성동 8-1 37.5147838 127.0543618
(지번) 역삼동 619-5 37.49988 127.03856
(지번) 신사동 648-25 37.52232055 127.02769395302175
(지번) 논현동 198 37.5132615 127.03156254665845
(지번) 신사동 626-71 37.52232055 127.02769395302175
(지번) 논현동 114-14 37.5132615 127.03156254665845
(지번) 신사동 525-15 37.52232055 127.02769395302175
(지번) 신사동 576-6 37.52522 127.02005
(지번) 신사동 648-19 37.52232055 127.02769395302175
(지번) 역삼동 823-36 37.50118425 127.03825604133019
(지번) 논현동 267-20 37.5132615 127.03156254665845
(지번) 논현동 144 37.5132615 127.03156254665845
(지번) 논현동 37-9 37.5132615 127.03156254665845
(지번) 역삼동 813-14 37.50118425 127.03825604133019
(지번) 신사동 663-9 37.52522 127.02005
(지번) 신사동 507-11 37.52232055 127.02769395302175
(지번) 역삼동 790-17 37.50118425 127.03825604133019
(지번) 대치동 889-65 37.5016447 127.0627289
(지번) 논현동 206-5 37.5123018 127.0294935
(지번) 역삼동 641-18 37.50118425 127.03825604133019
(지번) 논현동 247-9 37.5132615 127.03156254665845
(지번) 청담동 88-5 37.52575355 127.05232137771662
(지번) 역삼동 705-27 37.50118425 127.03825604133019
(지번) 역삼동 811-12 37.50118425 127.03825604133019
(지번) 역삼동 833 37.50118425 127.03825604133019
(지번) 신사동 546-17 37.52232055 127.02769395302175
(지번) 청담동 124-12 37.52575355 127.05232137771662
(지번) 신사동 626-79 37.583616199999994 126.90651526966475
(지번) 청담동 88-23 37.52575355 127.05232137771662
(지번) 신사동 534-8 37.52232055 127.02769395302175
(지번) 신사동 554-4 37.59547 126.90718
(지번) 청담동 26-5 37.52575355 127.05232137771662
(지번) 삼성동 146-23 36.338791650000005 127.4244989914209
(지번) 대치동 895-11 37.4989205 127.0657856909771
(지번) 역삼동 668-14 37.50118425 127.03825604133019
(지번) 역삼동 726 37.50118425 127.03825604133019
(지번) 대치동 983-17 37.4989205 127.0657856909771
(지번) 대치동 891-44 37.4989205 127.0657856909771
(지번) 역삼동 671-17 37.50118425 127.03825604133019
(지번) 논현동 144-5 37.5123018 127.0294935
(지번) 논현동 255-5 37.5123018 127.0294935
(지번) 신사동 656-7 37.52232055 127.02769395302175
(지번) 논현동 107-34 37.5132615 127.03156254665845
(지번) 삼성동 78 36.338791650000005 127.4244989914209
(지번) 논현동 91-6 37.5123018 127.0294935
(지번) 대치동 983-13 37.4989205 127.0657856909771
(지번) 역삼동 787-12 37.50118425 127.03825604133019
(지번) 역삼동 817-5 37.49988 127.03856
(지번) 역삼동 835-15 37.50118425 127.03825604133019
(지번) 논현동 248-7 37.5132615 127.03156254665845
(지번) 신사동 651-4 37.59547 126.90718
(지번) 논현동 98-8 37.5132615 127.03156254665845
(지번) 청담동 98-7 37.52575355 127.05232137771662
(지번) 신사동 651-19 37.52232055 127.02769395302175
(지번) 대치동 1023-19 37.4989205 127.0657856909771
(지번) 신사동 553-25 37.52232055 127.02769395302175
(지번) 대치동 899-3 37.49882 127.06566
(지번) 논현동 112-7 37.5132615 127.03156254665845
(지번) 신사동 646-23 37.52232055 127.02769395302175
(지번) 논현동 91-18 37.5132615 127.03156254665845
(지번) 논현동 4-19 37.5132615 127.03156254665845
(지번) 역삼동 708-20 37.50118425 127.03825604133019
(지번) 신사동 648-24 37.52232055 127.02769395302175
(지번) 청담동 19-17 37.52575355 127.05232137771662
(지번) 역삼동 815 37.50118425 127.03825604133019
(지번) 청담동 21-16 37.52575355 127.05232137771662
(지번) 논현동 21-16 37.4031099 126.7261793
(지번) 논현동 105 37.515563900000004 127.00812045863104
(지번) 청담동 125-16 37.52575355 127.05232137771662
(지번) 신사동 545-3 37.59547 126.90718
(지번) 역삼동 813-10 37.50118425 127.03825604133019
(지번) 청담동 38-4 37.52575355 127.05232137771662
(지번) 논현동 184-17 37.5132615 127.03156254665845
(지번) 수서동 450-4 37.486655549999995 127.10203423856275
(지번) 청담동 100 37.52575355 127.05232137771662
(지번) 역삼동 831-25 37.50118425 127.03825604133019
(지번) 역삼동 823-16 37.50118425 127.03825604133019
(지번) 신사동 649-2 37.52522 127.02005
(지번) 신사동 627-13 37.52232055 127.02769395302175
(지번) 청담동 81-11 37.52575355 127.05232137771662
(지번) 청담동 92-18 37.52575355 127.05232137771662
(지번) 신사동 647-2 37.52522 127.02005
(지번) 신사동 535-9 37.52522 127.02005
(지번) 청담동 88-37 37.52575355 127.05232137771662
(지번) 도곡동 954-16 37.4885367 127.04407631646578
(지번) 신사동 543-11 37.52232055 127.02769395302175
(지번) 역삼동 812-15 37.50118425 127.03825604133019
(지번) 청담동 69-5 37.52575355 127.05232137771662
(지번) 논현동 216-10 37.4031099 126.7261793
(지번) 도곡동 948-13 37.4885367 127.04407631646578
(지번) 신사동 513-4 37.59547 126.90718
(지번) 삼성동 154-11 36.338791650000005 127.4244989914209
(지번) 역삼동 831-3 37.49988 127.03856
(지번) 역삼동 700-17 37.50118425 127.03825604133019
(지번) 신사동 623-1 37.52232055 127.02769395302175
(지번) 역삼동 620-17 37.50118425 127.03825604133019
(지번) 역삼동 832-6 37.50118425 127.03825604133019
(지번) 삼성동 158-9 37.5147838 127.0543618
(지번) 신사동 542-6 37.52522 127.02005
(지번) 역삼동 831-33 37.50118425 127.03825604133019
(지번) 삼성동 159 36.338791650000005 127.4244989914209
(지번) 논현동 105-4 37.5132615 127.03156254665845
(지번) 역삼동 708-20 37.50118425 127.03825604133019
(지번) 신사동 512-10 37.52232055 127.02769395302175
(지번) 역삼동 669-15 37.50118425 127.03825604133019
(지번) 청담동 124-12 37.52575355 127.05232137771662
(지번) 신사동 513 37.52232055 127.02769395302175
(지번) 신사동 521-5 37.59547 126.90718
(지번) 역삼동 672-38 37.50118425 127.03825604133019
(지번) 청담동 94-3 37.52575355 127.05232137771662
(지번) 논현동 246-1 37.5123018 127.0294935
(지번) 삼성동 140-29 36.338791650000005 127.4244989914209
(지번) 역삼동 813-8 37.49988 127.03856
(지번) 신사동 548-4 37.59547 126.90718
(지번) 삼성동 127-3 37.5147838 127.0543618
(지번) 신사동 542-1 37.52232055 127.02769395302175
(지번) 신사동 511-1 37.52232055 127.02769395302175
(지번) 신사동 651-16 37.52232055 127.02769395302175
(지번) 신사동 663-28 37.52232055 127.02769395302175
(지번) 역삼동 824-11 37.50118425 127.03825604133019
(지번) 신사동 540 37.52232055 127.02769395302175
(지번) 청담동 90-25 37.52575355 127.05232137771662
(지번) 신사동 508-8 37.52232055 127.02769395302175
(지번) 삼성동 158-10 36.338791650000005 127.4244989914209
(지번) 삼성동 36-11 36.338791650000005 127.4244989914209
(지번) 역삼동 727-1 37.49988 127.03856
(지번) 역삼동 810-14 37.50118425 127.03825604133019
(지번) 역삼동 830-38 37.50118425 127.03825604133019
(지번) 역삼동 810-5 37.49988 127.03856
(지번) 논현동 115-1 37.5123018 127.0294935
(지번) 역삼동 616-14 37.50118425 127.03825604133019
(지번) 논현동 233-18 37.5132615 127.03156254665845
(지번) 수서동 714-5 37.48445 127.09838
(지번) 청담동 85 37.53027145 127.03124734657828
(지번) 신사동 631-35 37.52232055 127.02769395302175
(지번) 도곡동 424 37.4885367 127.04407631646578
(지번) 역삼동 700-19 37.50118425 127.03825604133019
(지번) 논현동 144-4 37.5132615 127.03156254665845
(지번) 역삼동 825-20 37.50118425 127.03825604133019
(지번) 논현동 106-17 37.5132615 127.03156254665845
(지번) 청담동 53-6 37.52575355 127.05232137771662
(지번) 신사동 561-17 37.52232055 127.02769395302175
(지번) 역삼동 824-25 37.50118425 127.03825604133019
(지번) 역삼동 817-26 37.50118425 127.03825604133019
(지번) 신사동 587-15 37.52232055 127.02769395302175
(지번) 신사동 653-20 37.52232055 127.02769395302175
(지번) 역삼동 619-16 37.50118425 127.03825604133019
(지번) 청담동 4-1 37.52575355 127.05232137771662
(지번) 청담동 83-16 37.52575355 127.05232137771662
(지번) 역삼동 808 37.50118425 127.03825604133019
(지번) 삼성동 147-15 36.338791650000005 127.4244989914209
(지번) 역삼동 617-4 37.50118425 127.03825604133019
(지번) 역삼동 831-27 37.50118425 127.03825604133019
(지번) 역삼동 648-9 37.50118425 127.03825604133019
(지번) 논현동 198-3 37.5132615 127.03156254665845
(지번) 대치동 894-5 37.4989205 127.0657856909771
(지번) 역삼동 619-14 37.50118425 127.03825604133019
(지번) 신사동 640-1 37.52232055 127.02769395302175
(지번) 역삼동 823-38 37.50118425 127.03825604133019
(지번) 대치동 895-1 37.4989205 127.0657856909771
(지번) 역삼동 823-14 37.50118425 127.03825604133019
(지번) 신사동 514-9 37.52522 127.02005
(지번) 청담동 89-8 37.52575355 127.05232137771662
(지번) 역삼동 619-3 37.49988 127.03856
(지번) 역삼동 601-30 37.50118425 127.03825604133019
(지번) 청담동 95-15 37.52575355 127.05232137771662
(지번) 청담동 22-11 37.52575355 127.05232137771662
(지번) 역삼동 736-38 37.50118425 127.03825604133019
(지번) 도곡동 454-10 37.4885367 127.04407631646578
(지번) 삼성동 165-12 36.338791650000005 127.4244989914209
(지번) 신사동 544-23 37.52232055 127.02769395302175
(지번) 율현동 68-7 37.4714 127.1113
(지번) 역삼동 812-9 37.50118425 127.03825604133019
(지번) 역삼동 697-45 37.50118425 127.03825604133019
(지번) 역삼동 811 37.50118425 127.03825604133019
(지번) 신사동 512-8 37.52232055 127.02769395302175
(지번) 청담동 68-7 37.52575355 127.05232137771662
(지번) 역삼동 670-20 37.50118425 127.03825604133019
(지번) 도곡동 423-15 37.4885367 127.04407631646578
(지번) 삼성동 144-14 36.338791650000005 127.4244989914209
(지번) 역삼동 669-18 37.50118425 127.03825604133019
(지번) 수서동 450-8 37.486655549999995 127.10203423856275
(지번) 신사동 514-3 37.59547 126.90718
(지번) 대치동 999 37.4989205 127.0657856909771
(지번) 청담동 91-12 37.52575355 127.05232137771662
(지번) 역삼동 810-2 37.50118425 127.03825604133019
(지번) 논현동 144 37.5132615 127.03156254665845
(지번) 신사동 657-5 37.59547 126.90718
(지번) 신사동 521-10 37.52232055 127.02769395302175
(지번) 역삼동 705-14 37.50118425 127.03825604133019
(지번) 역삼동 648-9 37.50118425 127.03825604133019
(지번) 역삼동 641-15 37.50118425 127.03825604133019
(지번) 신사동 512-9 37.52522 127.02005
(지번) 역삼동 810-17 37.50118425 127.03825604133019
(지번) 역삼동 835 37.50118425 127.03825604133019
(지번) 논현동 193-38 37.5132615 127.03156254665845
(지번) 논현동 272-31 37.5111003 127.0214687
(지번) 역삼동 641-1 37.49988 127.03856
(지번) 논현동 42-6 37.5123018 127.0294935
(지번) 역삼동 817-34 37.50118425 127.03825604133019
(지번) 신사동 656-15 37.52232055 127.02769395302175
(지번) 청담동 3-2 37.52575355 127.05232137771662
(지번) 도곡동 180-1 37.4885367 127.04407631646578
(지번) 역삼동 619-17 37.50118425 127.03825604133019
(지번) 신사동 652-16 37.52232055 127.02769395302175
(지번) 역삼동 810-14 37.50118425 127.03825604133019
(지번) 논현동 94-9 37.5132615 127.03156254665845
(지번) 삼성동 157-23 36.338791650000005 127.4244989914209
(지번) 대치동 946-8 37.49882 127.06566
(지번) 역삼동 817-37 37.50118425 127.03825604133019
(지번) 역삼동 683-2 37.50118425 127.03825604133019
(지번) 논현동 201-1 37.5123018 127.0294935
(지번) 논현동 62-24 37.5132615 127.03156254665845
(지번) 신사동 646-7 37.52232055 127.02769395302175
(지번) 역삼동 601-13 37.49988 127.03856
(지번) 역삼동 675-3 37.49988 127.03856
(지번) 신사동 544-4 37.59547 126.90718
(지번) 신사동 525-2 37.52522 127.02005
(지번) 논현동 254-23 37.5132615 127.03156254665845
(지번) 삼성동 158-3 37.5147838 127.0543618
(지번) 신사동 638-9 37.52522 127.02005
(지번) 신사동 648-13 37.52232055 127.02769395302175
(지번) 신사동 517-27 37.52232055 127.02769395302175
(지번) 신사동 660-18 37.52232055 127.02769395302175
(지번) 논현동 201-11 37.5123018 127.0294935
(지번) 논현동 110-25 37.5132615 127.03156254665845
(지번) 삼성동 168-26 36.338791650000005 127.4244989914209
(지번) 역삼동 826-48 37.50118425 127.03825604133019
(지번) 신사동 535-13 37.52232055 127.02769395302175
(지번) 청담동 2-4 37.52575355 127.05232137771662
(지번) 청담동 92-18 37.52575355 127.05232137771662
(지번) 대치동 1023-4 37.4989205 127.0657856909771
(지번) 신사동 550-22 37.52232055 127.02769395302175
(지번) 역삼동 817-35 37.49988 127.03856
(지번) 역삼동 628-7 37.50118425 127.03825604133019
(지번) 대치동 890-45 37.4989205 127.0657856909771
(지번) 역삼동 827-22 37.50118425 127.03825604133019
(지번) 논현동 164-18 37.5132615 127.03156254665845
(지번) 역삼동 707-6 37.50118425 127.03825604133019
(지번) 청담동 86-5 37.52575355 127.05232137771662
(지번) 삼성동 143-30 36.338791650000005 127.4244989914209
(지번) 논현동 92-12 37.5132615 127.03156254665845
(지번) 신사동 643-20 37.52232055 127.02769395302175
(지번) 역삼동 689-12 37.50118425 127.03825604133019
(지번) 논현동 50-1 37.5123018 127.0294935
(지번) 논현동 217-47 37.5132615 127.03156254665845
(지번) 신사동 512-16 37.52232055 127.02769395302175
(지번) 대치동 899-4 37.4989205 127.0657856909771
(지번) 논현동 95-8 37.5132615 127.03156254665845
(지번) 역삼동 831-35 37.49988 127.03856
(지번) 신사동 523-16 37.52232055 127.02769395302175
(지번) 신사동 507-3 37.59547 126.90718
(지번) 역삼동 605-22 37.50118425 127.03825604133019
(지번) 대치동 988-2 37.49882 127.06566
(지번) 신사동 537-11 37.52232055 127.02769395302175
(지번) 신사동 515-9 37.52522 127.02005
(지번) 신사동 635-14 37.52232055 127.02769395302175
(지번) 역삼동 817-21 37.50118425 127.03825604133019
(지번) 신사동 651-5 37.59547 126.90718
(지번) 신사동 645-28 37.52232055 127.02769395302175
(지번) 신사동 524 37.52232055 127.02769395302175
(지번) 신사동 603-1 37.52232055 127.02769395302175
(지번) 대치동 990-2 37.49882 127.06566
(지번) 청담동 88-9 37.52575355 127.05232137771662
(지번) 청담동 2 37.53035325 127.03797115175946
(지번) 신사동 541-6 37.52522 127.02005
(지번) 역삼동 628-6 37.50118425 127.03825604133019
(지번) 역삼동 827-23 37.50118425 127.03825604133019
(지번) 역삼동 818-4 37.50118425 127.03825604133019
(지번) 청담동 88-22 37.52575355 127.05232137771662
(지번) 논현동 165 37.52736555 127.02751919288721
(지번) 신사동 610-3 37.59547 126.90718
(지번) 역삼동 739-1 37.49988 127.03856
(지번) 신사동 529-6 37.52522 127.02005
(지번) 역삼동 827-68 37.5094827 127.0519282
(지번) 역삼동 829-13 37.49988 127.03856
(지번) 논현동 164-14 37.5132615 127.03156254665845
(지번) 신사동 600-1 37.52232055 127.02769395302175
(지번) 역삼동 618-7 37.50118425 127.03825604133019
(지번) 청담동 88-31 37.52575355 127.05232137771662
(지번) 역삼동 708-20 37.50118425 127.03825604133019
(지번) 대치동 949-1 37.4989205 127.0657856909771
(지번) 청담동 121-28 37.52575355 127.05232137771662
(지번) 신사동 516-7 37.52232055 127.02769395302175
(지번) 역삼동 687 37.50118425 127.03825604133019
(지번) 역삼동 809-13 37.49988 127.03856
(지번) 신사동 655-3 37.59547 126.90718
(지번) 역삼동 819-1 37.49988 127.03856
(지번) 도곡동 542-6 37.4878395 127.0438569
(지번) 역삼동 817-22 37.50118425 127.03825604133019
(지번) 신사동 534-12 37.52232055 127.02769395302175
(지번) 논현동 183-8 37.5132615 127.03156254665845

In [14]:
place.tail()

               local   latitude   longitude
406   (지번) 도곡동 542-6  37.487839  127.043857
407  (지번) 신사동 650-16        NaN         NaN
408  (지번) 역삼동 817-22  37.501184  127.038256
409  (지번) 신사동 534-12  37.522321  127.027694
410   (지번) 논현동 183-8  37.513261  127.031563

In [9]:
# place = pd.DataFrame()

# review_lists = ['대치동 896-5']

# for i, local in enumerate(review_lists):
#     location = service.geocode(local)
#     row = {'local' : local , 'latitude' : location.latitude, 'longitude' : location.longitude}
#     row = pd.DataFrame(row, index=[i])
#     place = place.append(row, ignore_index=True)

# print(place)

       local  latitude   longitude
0  대치동 896-5  37.49892  127.065786