In [1]:
import time
from selenium import webdriver

In [2]:
driver = webdriver.Chrome('../webdriver/chromedriver.exe')

C:\Users\nhm05\anaconda3\envs\multi\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  """Entry point for launching an IPython kernel.

In [3]:
driver.get('http://www.google.com')
time.sleep(2)

In [4]:
inputElement = driver.find_element_by_name('q')
time.sleep(2)

C:\Users\nhm05\anaconda3\envs\multi\lib\site-packages\selenium\webdriver\remote\webdriver.py:550: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

In [5]:
inputElement.send_keys('ngle')
time.sleep(2)

In [6]:
inputElement.submit()

In [8]:
continue_link = driver.find_element_by_partial_link_text('THE BEST BUSINESS PLAN')
time.sleep(2)

C:\Users\nhm05\anaconda3\envs\multi\lib\site-packages\selenium\webdriver\remote\webdriver.py:510: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

In [9]:
continue_link.click()
time.sleep(5)

In [10]:
driver.back()
time.sleep(2)

In [11]:
driver.forward()
time.sleep(2)

In [1]:
import pandas as pd

In [17]:
rating_df = pd.DataFrame()
rating_df

Empty DataFrame
Columns: []
Index: []

In [7]:
row = {"ItemID":'김밥', "UserID":'123'}
row = pd.DataFrame(row, index=[1])

In [21]:
row = {"ItemID":'떡볶이', "UserID":'234'}
row = pd.DataFrame(row, index=[2])
row

  ItemID UserID
2    떡볶이    234

In [10]:
row

  ItemID UserID
2    떡볶이    234

In [19]:
rating_df = rating_df.append(row,ignore_index=True)
rating_df

  ItemID UserID
0    떡볶이    234
1    떡볶이    234