In [1]:
# 첫번째 파이썬
# OT.py

In [ ]:
# 주석문 : 프로그램에 대한 설명문, 실행에 영향 없음
# 주석처리 방법
# 1줄 주석 : 줄 맨 처음에 '#' 기호 사용
# 블럭 주석 : 파이썬은 여러줄 주석 기호는 없음.
# 다만 ''' ''' 이용하면 문자열 처리 되면서 실행에 영향을 주지 않는다.
#
# 미리 입력 해 놓은 내용 ctrl+/ 키를 이용해 한번에 주석처리 가능
#
# 주석문을 사용하는 이유
# 프로그램에 관한 정보를 추가할 수 있다.
# 수정이 용이하다.
# 가독성을 높여준다.
# 코드를 이해하기 쉽다.

In [2]:
# 변수에 값을 저장(할당 assign)
x = 10 
y = 20
z = 30

In [3]:
print(x,y,z)
print(x)
print(y)
print(z)

10 20 30
10
20
30

In [5]:
# 여러개의 변수에 여러개의 값을 저장
x,y,z = 15,25,35

In [6]:
print(x,y,z)
print(x)
print(y)
print(z)

15 25 35
15
25
35

In [7]:
# 여러 개의 변수에 동일한 값을 할당
a=b=c=100

In [8]:
print(a,b,c)

100 100 100

In [11]:
# 두 변수의 값을 교환(swap)
a,b = 10, 20
print('a =',a)
print('b =',b)

a = 10
b = 20

In [12]:
a,b = b,a
print('a =',a)
print('b =',b)

a = 20
b = 10

In [15]:
# 변수를 삭제
x = 100
print(x)
print(id(x))
print(type(x))

100
140723955084784
<class 'int'>

In [ ]:
del(x)
# print(x) 
# NameError: name 'x' is not defined

In [18]:
# 문자열에 큰 따옴표 사용
name = "moon"
age = 25
print(name, age)

moon 25

In [30]:
address = '서울시 강남구'
print(name + "은 " + address + "에 삽니다.")
print(name + '은 ' + address + '에 삽니다.')

moon은 서울시 강남구에 삽니다.
moon은 서울시 강남구에 삽니다.

In [38]:
# ,와 + 차이
print(name, "은 ", address, "에 삽니다.")

moon 은  서울시 강남구 에 삽니다.

In [ ]:
# 문자열 변수와 값을 연결할 때 깞이 숫자면 + 사용불가
# 문자열 데이터를 연결할 때만 + 사용 가능
# print(name + '은' + age + "살 입니다.") TypeError: can only concatenate str (not "int") to str

In [40]:
# 형 변환
print(name + '은 ' + str(age) + "살 입니다.")

moon은 25살 입니다.

In [41]:
# 값의 형태를 강제적으로 다른 형태로 변환하는 것
# 문자열 형변환 함수 str()
# 정수형 형변환 함수 int()
# 실수형 형변환 함수 float()

In [44]:
# 사각형 면적을 구하는 프로그램
width = 100
height = 50
area = width * height
print("사각형의 면적은 :", area)

사각형의 면적은 : 5000

In [45]:
#  형식 지정 출력
name, no, year, grade, average = '홍길동', 2021001, 1, 'A', 93.5

In [46]:
print("성명 :", name)
print("학번 :", no)
print("학년 :", year)
print("성적 :", grade)
print("평균 :", average)

성명 : 홍길동
학번 : 2021001
학년 : 1
성적 : A
평균 : 93.5

In [61]:
print("성명 : %s" %name)
print("학번 : %d" %no)
print("학년 : %d" %year)
print("성적 : %s" %grade)
print("평균 : %.2f" %average)

성명 : 홍길동
학번 : 2021001
학년 : 1
성적 : A
평균 : 93.50

In [58]:
rate = 80
print('이름 : %s, 출석률 : %d%%' %(name, rate))

이름 : 홍길동, 출석률 : 80%

In [63]:
# 화씨온도를 섭씨 온도로 변환
# C = (F-32)*5/9
Ftemp = 90
Ctemp = (Ftemp-32)*5/9
print(Ctemp)

32.22222222222222

In [68]:
print("%f" %Ctemp) # 소수점이하 6자리로 출력
print("%.2f" %Ctemp) # 소수점이하 2자리로 출력
print("%.f" %Ctemp) # 소수점이하 생략

32.222222
32.22
32

In [69]:
print(format(Ctemp, '10.2f')) # 전체자리 숫자를 10으로 설정했기 때문에 앞에 공백이 출력

     32.22

In [72]:
# 포맷 코드, 2개 이상의 값 출력
total = 250
average = 83.33
print("%d, %.2f" %(total,average)) # 실제 출력되는 값들은 ()로 묶어야 한다.

250, 83.33

In [73]:
# 상수
# 변화되지 않는 값
# 파이썬에서는 별도의 상수가 없음
# 변수와 구분하기 위해 대문자로 사용
PI = 3.131592 
r = 10
area = r*r*PI
print(area)

313.1592

In [78]:
INT_RATE = 0.03
deposit = 10000
interest = deposit * INT_RATE
balance = deposit + interest
print(balance)
print(int(balance)) #변수값을 정수형으로 형변환 후 출력
print(format(int(balance),',')) # 변수값을 정수형으로 형변환 후 천단위 구분자 출력

10300.0
10300
10,300

In [80]:
# 정수 리터럴 
a = 0b1010 # 2진수
b = 812 # 10진수
c = 0o123 # 8진수
d = 0x12fc # 16진수
print(a,b,c,d)

10 812 83 4860

In [81]:
# 실수 리터럴
f1 = 3.14
f2 = -123.45
f3 = 1.234567e5
print(f1,f2,f3)

3.14 -123.45 123456.7

In [91]:
# 문자열 리터럴
str1 = '홍길동'
str2 = "Python"
str3 = '''It's Python Programming'''
str4 = """It's Python Programming"""
str5 = """삼 따옴표는
여러줄에 나누어서 
문자를 저장할 때 사용"""
print(str1,str2,str3,str4)
print(str5)

홍길동 Python It's Python Programming It's Python Programming
삼 따옴표는
여러줄에 나누어서
문자를 저장할 때 사용

In [93]:
# 논리값 리터럴
T = True
F = False
print(T,F)

True False

In [96]:
# 특수 리터럴
address = None
print(address)
print(type(address))
print(id(address))

None
<class 'NoneType'>
140723954605280

In [99]:
# 행 분리 기호(역슬래시와 괄호)
# 내용이 긴 경우 여러 행으로 분리 가능
a = 1 + 2 +\
    + 4 + 5
b =(1 + 2 +
   3 + 4 + 5)
print(a, b)

12 15

In [105]:
print("긴 문장을 입력할 때 중간에서 엔터키를 치면"
     "다음행으로 가도"
     "1줄로 인식")

긴 문장을 입력할 때 중간에서 엔터키를 치면다음행으로 가고1줄로 인식

In [101]:
print("c:\PythonStudy\name") #\n은 줄바꿈 기능
print(r"c:\PythonStudy\name")

c:\PythonStudy
ame
c:\PythonStudy\name

In [108]:
# print('apple') print("banana")
# SyntaxError: invalid syntax
print('apple'); print("banana")

apple
banana

In [112]:
# print() 함수 : 다음행으로 커서 이동
print("first")
print("second")

first
second

In [117]:
# end = ' ' : 한줄로 출력 , ' '안에는 다양한 구분자 사용 가능(띄어쓰기, 쉼표, 콜론, ...)
print("first", end=' ')
print("second")
print("first", end='_')
print("second")

first second
first_second